/*********************************************************************************
* WEB422 – Assignment 05 * I declare that this assignment is my own work in
accordance with Seneca Academic Policy. No part of this * assignment has been
copied manually or electronically from any other source (including web sites) or
* distributed to other students. * * Name: ____David Zak______ Student ID:
__158458174___ Date: __November 15th, 2019__ *
********************************************************************************/

<app-nav></app-nav>
<app-content>
  <app-home></app-home>
  <app-employees></app-employees>
  <app-positions></app-positions>
</app-content>
<app-footer></app-footer>

<!--/header-->

<!--/#main-slider-->

<!--/#footer-->

<router-outlet></router-outlet>
